@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --red: #e53f71;
  --font_color: #ccd6f6;
  --darker-font: #818aa3;
  --backgrund: #121826;
  --poppins: 'Poppins', sans-serif;
  --source-pro: 'Source Code Pro', sans-serif;
  --border-radius: 5px;
  --transition: .3s; }

html {
  font-family: var(--poppins); }

body {
  background-color: var(--backgrund);
  margin: 0;
  padding: 0; }

.big_heading {
  font-size: 72px;
  margin: 0;
  font-weight: 700; }

.transparent {
  opacity: 0.6; }

.show {
  opacity: 1; }

.hide {
  opacity: 0; }

.width-full {
  width: 100%; }

@media (min-width: 1400px) {
  .container {
    max-width: 1140px; } }

.section_title {
  font-size: 32px;
  color: var(--font_color);
  padding-bottom: 40px; }
  .section_title span {
    font-size: 18px;
    font-family: var(--source-pro);
    color: var(--red); }
  .section_title::after {
    width: 500px;
    height: 1px;
    content: "";
    background-color: var(--red);
    display: inline-block;
    margin-left: 15px;
    position: relative;
    bottom: 5px; }

.underline_animation:before {
  content: " ";
  width: 0px;
  height: 1px;
  color: var(--red);
  background-color: var(--red);
  display: inline-block;
  position: absolute;
  bottom: -2px;
  transition: var(--transition); }
.underline_animation:hover:before {
  width: 100%; }

.button {
  text-decoration: none;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: var(--border-radius);
  padding: 5px 10px;
  transition: var(--transition); }
  .button:hover {
    transform: translateX(-3px) translateY(-3px);
    box-shadow: 3px 3px 0 0 var(--red); }

#header {
  font-family: var(--source-pro);
  color: var(--font_color);
  background-color: var(--backgrund);
  position: fixed;
  width: 100%;
  z-index: 999; }
  #header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 1600px) {
      #header .container {
        max-width: calc(100% - 50px); } }
  #header #nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header #nav ul {
      margin: 0;
      padding: 30px 0; }
      #header #nav ul li {
        display: inline-block;
        padding-right: 20px; }
        #header #nav ul li a {
          text-decoration: none;
          transition: var(--transition);
          position: relative;
          color: var(--font_color); }
          #header #nav ul li a:hover {
            color: var(--red); }
          #header #nav ul li a span {
            color: var(--red); }

#intro .container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #intro .container h1 {
    font-size: 22px;
    font-family: var(--source-pro);
    color: var(--red); }
  #intro .container h2 {
    color: var(--font_color); }
    #intro .container h2 span {
      color: var(--red);
      opacity: 1; }
    #intro .container h2:last-child {
      color: var(--darker-font); }
  #intro .container h3 {
    color: var(--darker-font); }
    #intro .container h3 .heading_dot {
      color: var(--red); }
  #intro .container p {
    font-size: 16px;
    color: var(--font_color);
    font-family: var(--poppins);
    padding: 30px 0;
    display: inline-block; }
    #intro .container p span {
      color: var(--red); }
  #intro .container .button_container {
    display: flex;
    justify-content: flex-start; }
    #intro .container .button_container .button {
      padding: 20px 28px; }

#about {
  padding: 100px 0; }
  #about .container {
    max-width: 1000px; }
    #about .container .text-container p {
      font-size: 16px;
      color: var(--font_color);
      font-family: var(--poppins);
      display: inline-block; }
    #about .container .text-container .tech_stack table {
      width: 100%; }
      #about .container .text-container .tech_stack table td {
        width: 33%; }
        #about .container .text-container .tech_stack table td .fa-play {
          font-size: 8px;
          vertical-align: middle;
          color: var(--red);
          padding-right: 10px; }
        #about .container .text-container .tech_stack table td p {
          margin: 0;
          font-family: var(--source-pro);
          color: var(--darker-font);
          font-size: 14px; }
    #about .container .img_container {
      padding-left: 50px;
      padding-top: 10px; }
      #about .container .img_container .wrapper {
        border: 3px solid var(--red);
        position: relative;
        z-index: 2;
        transition: var(--transition); }
        #about .container .img_container .wrapper img {
          width: 100%;
          position: relative;
          top: -10px;
          left: -10px;
          transition: var(--transition); }
          #about .container .img_container .wrapper img:hover {
            top: -20px;
            left: -20px; }

#exp {
  padding: 100px 0; }
  #exp .container {
    max-width: 1000px; }
    #exp .container .job {
      padding-bottom: 50px; }
      #exp .container .job:last-child {
        padding-bottom: 0; }
      #exp .container .job .job_title {
        font-size: 22px;
        color: var(--font_color);
        font-family: var(--poppins); }
        #exp .container .job .job_title span {
          color: var(--red); }
          #exp .container .job .job_title span a {
            text-decoration: none;
            color: var(--red);
            position: relative; }
        #exp .container .job .job_title .fa-play {
          color: var(--red);
          padding: 0 20px;
          font-size: 14px;
          vertical-align: middle; }
      #exp .container .job .job_period {
        font-size: 14px;
        font-family: var(--source-pro);
        color: var(--darker-font);
        padding: 0 0 10px 50px; }
      #exp .container .job .job_details {
        padding-left: 50px;
        font-family: var(--poppins);
        color: var(--font_color);
        list-style: none;
        width: 90%;
        font-size: 16px; }
        #exp .container .job .job_details li {
          display: flex; }
          #exp .container .job .job_details li:last-child p {
            margin-bottom: 0; }
          #exp .container .job .job_details li .fa-play {
            color: var(--red);
            font-size: 10px;
            padding: 5px 10px; }

#edu {
  padding: 100px 0; }
  #edu .container {
    max-width: 1000px; }
    #edu .container .education {
      padding-bottom: 50px; }
      #edu .container .education .institution {
        font-size: 22px;
        color: var(--font_color);
        font-family: var(--poppins); }
        #edu .container .education .institution span {
          color: var(--red); }
          #edu .container .education .institution span a {
            text-decoration: none;
            color: var(--red);
            position: relative; }
        #edu .container .education .institution .fa-play {
          color: var(--red);
          padding: 0 20px;
          font-size: 14px;
          vertical-align: middle; }
        #edu .container .education .institution_certificates {
          display: inline-block;
          padding-bottom: 26px; }
          #edu .container .education .institution_certificates span {
            color: var(--font_color);
            position: relative; }
            #edu .container .education .institution_certificates span::before {
              width: 100%;
              content: "";
              height: 1px;
              background-color: var(--red);
              position: absolute;
              display: inline-block;
              bottom: 0; }
      #edu .container .education .period {
        font-size: 14px;
        font-family: var(--source-pro);
        color: var(--darker-font);
        padding: 0 0 10px 50px; }
      #edu .container .education .details {
        padding-left: 50px;
        font-family: var(--poppins);
        color: var(--font_color);
        list-style: none;
        width: 90%;
        font-size: 16px; }
        #edu .container .education .details li {
          display: flex; }
          #edu .container .education .details li a {
            position: relative;
            color: var(--red);
            text-decoration: none; }
          #edu .container .education .details li:last-child p, #edu .container .education .details li:last-child a {
            margin-bottom: 0; }
          #edu .container .education .details li .fa-play {
            color: var(--red);
            font-size: 10px;
            padding: 5px 10px; }

/*# sourceMappingURL=index.css.map */
