// Vars and imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --red: #e53f71;
    --font_color: #ccd6f6;
    --darker-font: #818aa3;
    --backgrund: #121826;
    --poppins: 'Poppins', sans-serif;
    --source-pro: 'Source Code Pro', sans-serif;
    --border-radius: 5px;
    --transition: .3s;
}


//Global Styles
html {
    font-family: var(--poppins);
    width: 100%;
}

body {
    background-color: var(--backgrund);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#about, #exp, #edu, #contact {
    padding: 100px 0;
    opacity: 0;
    visibility: hidden;
    position: relative;
    transition: 1s!important;
    @media(max-width: 767px) {
        padding: 40px 0;
    }
}

.main {
    position: relative;
}

.big_heading {
    font-size: 72px;
    margin: 0;
    font-weight: 700;
    @media(max-width: 991px) {
        font-size: 52px;
    }
    @media(max-width: 500px) {
        font-size: 34px;
    }
}

.transparent {
    opacity: 0.6;
}

.show {
    opacity: 1!important;
    visibility: visible!important;
}

.hide {
    opacity: 0!important;
}

.come {
    right: 0!important;
}

.width-full {
    width: 100%;
}

.container {
    padding: 0 30px;
    @media(min-width: 1400px) {
        max-width: 1140px;
    }
    @media(max-width: 767px) {
        max-width: 100%;
        width: 100%;
        padding: 0 15px;
    }
}

.section_title {
    font-size: 32px;
    color: var(--font_color);
    padding-bottom: 40px;
    span {
        font-size: 18px;
        font-family: var(--source-pro);
        color: var(--red);
    }
    &::after {
        width: 500px;
        height: 1px;
        content: "";
        background-color: var(--red);
        display: inline-block;
        margin-left: 15px;
        position: relative;
        bottom: 5px;
        @media(max-width: 767px) {
            width: 50%;
        }
    }
}

.underline_animation {
    &:before {
        content: " ";
        width: 0px;
        height: 1px;
        color: var(--red);
        background-color: var(--red);
        display: inline-block;
        position: absolute;
        bottom: -2px;
        transition: var(--transition);
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
}

.button {
    text-decoration: none;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    transition: var(--transition);
    font-family: var(--source-pro);
    &:hover {
        transform: translateX(-3px) translateY(-3px);
        box-shadow: 3px 3px 0 0 var(--red);
    }
}

.big_btn {
    padding: 20px 28px;
    @media(max-width: 400px) {
        padding: 10px 18px;
    }
}

.overlay {
    content: '';
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
//Global Styles


// Header and Nav styles
#header {
    font-family: var(--source-pro);
    color: var(--font_color);
    background-color: var(--backgrund);
    position: fixed;
    width: 100%;
    z-index: 999;

    .container {
        @media(min-width: 1600px) {
            max-width: calc(100% - 50px)
        }
        @media(max-width: 991px) {
            max-width: calc(100% - 50px);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 991px) {
            display: none;
        }
        ul {
            margin: 0;
            padding: 30px 0;
            li {
                display:inline-block;
                padding-right: 20px;
                a {
                    text-decoration: none;
                    transition: var(--transition);
                    position: relative;
                    &:hover {
                        color: var(--red);
                    }
                    color: var(--font_color);
                    span {
                        color: var(--red);
                    }
                }
            }
        }
    }
    .hamburger {
        display: none;
        z-index: 999;
        .hamburger-inner {
            background-color: var(--red);
            &::after {
                background-color: var(--red);
            }
            &::before {
                background-color: var(--red);
            }
        }
        @media(max-width: 991px) {
            display: block;
        }
    }
    #nav_mobile {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 50%;
        position: absolute;
        height: 100vh;
        top: 0;
        right: -100%;
        background-color: #121826e3;
        transition: var(--transition);
        @media(min-width: 992px) {
            display: none;
        }
        ul {
            margin: 0;
            padding: 30px 0;
            .button_container {
                margin-top: 30px;
                .button {
                    font-size: 18px;
                    padding: 10px 18px;
                }
            }
            li {
                display:block;
                padding: 20px 0;
                a {
                    text-decoration: none;
                    transition: var(--transition);
                    position: relative;
                    font-size: 18px;
                    &:hover {
                        color: var(--red);
                    }
                    color: var(--font_color);
                    span {
                        color: var(--red);
                    }
                }
            }
        }
    }
}
// Header and Nav styles


// Introduction Section
#intro {
    .container {
        min-height: 100vh;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 22px;
            font-family: var(--source-pro);
            color: var(--red);
        }
        h2 {
            color: var(--font_color);
            span {
                color: var(--red);
                opacity: 1;
            }
            &:last-child {
                color: var(--darker-font);
            }
        }
        h3 {
            color: var(--darker-font);
            .heading_dot {
                color: var(--red);
            }
        }
        p {
            font-size: 16px;
            color: var(--font_color);
            font-family: var(--poppins);
            padding: 30px 0;
            display: inline-block;
            span {
                color: var(--red);
            }
        }
        .button_container {
            display: flex;
            justify-content: flex-start;
        }
    }
}
// Introduction Section


// About Me Section
#about {
    .container {
        max-width: 1000px;
        .text-container {
            p {
                font-size: 16px;
                color: var(--font_color);
                font-family: var(--poppins);
                display: inline-block;
            }
            .tech_stack {
                table {
                    width: 100%;
                    td {
                        width: 33%;
                        .fa-play {
                            font-size: 8px;
                            vertical-align: middle;
                            color: var(--red);
                            padding-right: 10px;
                        }
                        p {
                            margin: 0;
                            font-family: var(--source-pro);
                            color: var(--darker-font);
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .img_container {
            padding-left: 50px;
            padding-top: 10px;
            @media(max-width: 767px) {
                width: 60%;
                margin: 50px auto 0;
            }
            .wrapper {
                border: 3px solid var(--red);
                position: relative;
                z-index: 2;
                transition: var(--transition);
                img {
                    width: 100%;
                    position: relative;
                    top: -10px;
                    left: -10px;
                    transition: var(--transition);
                    &:hover {
                        top: -20px;
                        left: -20px;
                    }
                }
            }
        }
    }
}
// About Me Section


// Work experience
#exp {
    .container {
        max-width: 1000px;
        .job {
            padding-bottom: 50px;
            &:last-child {
                padding-bottom: 0;
            }
            .job_title {
                font-size: 22px;
                color: var(--font_color);
                font-family: var(--poppins);
                span {
                    color: var(--red);
                    a {
                        text-decoration: none;
                        color: var(--red);
                        position: relative;
                    }
                }
                .fa-play {
                    color: var(--red);
                    padding: 0 20px;
                    font-size: 14px;
                    vertical-align: middle;
                }
            }
            .job_period {
                font-size: 14px;
                font-family: var(--source-pro);
                color: var(--darker-font);
                padding: 0 0 10px 50px;
            }
            .job_details {
                padding-left: 50px;
                font-family: var(--poppins);
                color: var(--font_color);
                list-style: none;
                width: 90%;
                font-size: 16px;
                @media(max-width: 767px) {
                    width: 100%;
                    padding-left: 30px;
                }
                li {
                    display: flex;
                    &:last-child {
                        p {
                            margin-bottom: 0;
                        }
                    }
                    .fa-play {
                        color: var(--red);
                        font-size: 10px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}
// Experience Section


// Education Section
#edu {
    .container {
        max-width: 1000px;
        .education {
            padding-bottom: 50px;
            .institution {
                font-size: 22px;
                color: var(--font_color);
                font-family: var(--poppins);
                span {
                    color: var(--red);
                    a {
                        text-decoration: none;
                        color: var(--red);
                        position: relative;
                    }
                }
                .fa-play {
                    color: var(--red);
                    padding: 0 20px;
                    font-size: 14px;
                    vertical-align: middle;
                }
                &_certificates {
                    display: inline-block;
                    padding-bottom: 26px;
                    span {
                        color: var(--font_color);
                        position: relative;
                        &::before {
                            width: 100%;
                            content: "";
                            height: 1px;
                            background-color: var(--red);
                            position: absolute;
                            display: inline-block;
                            bottom: 0;
                        }
                    }
                }
            }
            .period {
                font-size: 14px;
                font-family: var(--source-pro);
                color: var(--darker-font);
                padding: 0 0 10px 50px;
            }
            .details {
                padding-left: 50px;
                font-family: var(--poppins);
                color: var(--font_color);
                list-style: none;
                width: 90%;
                font-size: 16px;
                @media(max-width: 767px) {
                    width: 100%;
                    padding-left: 30px;
                }
                li {
                    display: flex;
                    a {
                        position: relative;
                        color: var(--red);
                        text-decoration: none;
                    }
                    &:last-child {
                        p, a {
                            margin-bottom: 0;
                        }
                    }
                    .fa-play {
                        color: var(--red);
                        font-size: 10px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}
// Education Section


// Contact Section
#contact {
    text-align: center;
    .container {
        max-width: 1000px;
        h2 {
            color: var(--red);
            font-size: 22px;
            font-family: var(--source-pro);
        }
        h3 {
            color: var(--darker-font);
        }
        p {
            color: var(--font_color);
            font-family: var(--poppins);
            font-size: 16px;
            padding: 20px 0;
            width: 85%;
            display: inline-block;
        }
        .button_container {
            display: flex;
            justify-content: center;
        }
    }
}
// Contact Section


// Social Icons
.social {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 200px;
    align-items: center;
    @media(max-width: 1680px) {
        left: 100px;
    }
    @media(max-width: 1400px) {
        left: 50px;
    }
    @media(max-width: 1300px) {
        display: none;
    }
    &::after {
        content: '';
        width: 1px;
        background-color: var(--darker-font);
        height: 150px;
        position: relative;
        display: inline-block;
    }

    i {
        font-size: 26px;
        color: var(--darker-font);
        padding: 10px 0;
        transition: var(--transition);
        &:hover {
            padding-top: 5px;
            padding-bottom: 15px;
            color: var(--red);
        }
    }
}
// Social Icons


// Footer
#footer {
    padding: 50px 0;
    .container {
        max-width: 1000px;
        .social_footer {
            padding-bottom: 20px;
            justify-content: center;
            display: none;
            @media(max-width: 1300px) {
                display: flex;
            }
            i {
                font-size: 26px;
                color: var(--darker-font);
                padding: 0 15px;
                transition: var(--transition);
                &:hover {
                    padding-top: 5px;
                    padding-bottom: 15px;
                    color: var(--red);
                }
            }
        }
        a {
            text-decoration: none;
            p {
                font-size: 12px;
                font-family: var(--source-pro);
                text-align: center; 
                color: var(--darker-font);
                transition: var(--transition);
            }
            &:hover {
                p {
                    color: var(--red);
                }
            }
        }
    }
  
}